:root {
  --size: 40px;
  --spacing: 10px;
  --main-color: cornflowerblue;
  --grey: #d5d5d5;
}

.Dimensions {
  margin: var(--spacing);
}

.LevelBuilder {
  width: 100%;
  overflow-x: scroll;
  margin: var(--spacing);
}

.LevelBuilder__Row {
  height: var(--size);
}

.LevelBuilder__Cell {
  position: relative;
  height: var(--size);
  width: var(--size);
  background-color: var(--main-color);
  display: inline-block;
}

.LevelBuilder__Cell[itemcount]::after {
  content: attr(itemcount);
  font-size: 14px;
  position: absolute;
  color: white;
  background-color: green;
  line-height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  border-radius: 50%;
  width: 20px;
  text-align: center;
}

.Cell__Image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

.LevelBuilder__Cell:hover {
  cursor: pointer;
  opacity: 0.75;
}

.TypeSelection {
  margin: var(--spacing);
}

.TypeSelection--inactive .TypeSelection__Img {
  opacity: 0.75;
  pointer-events: none;
}

.TypeSelection__Img {
  height: var(--size);
  width: var(--size);
  margin-right: var(--spacing);
  border-width: 4px;
  border-style: solid;
  border-color: var(--grey);
}

.TypeSelection__Img:hover {
  cursor: pointer;
  opacity: 0.75;
}

.TypeSelection__Img--active {
  border-color: var(--main-color);
}

.TypeSelection--inactive .TypeSelection__Img--active {
  border-color: var(--grey);
}

.DownloadLevel {
  margin-left: var(--spacing);
}

.SchemaInfo {
  margin-left: var(--spacing);
}

.SchemaInfo__Prop {
  margin-left: var(--spacing);
}
